{% extends "base.html" %}

{% block content %}
<div class="profile">
    <div id="profile-picture" class="profile-picture">
        <img src="{{ url_for('static', filename='img/profile.jpg') }}">
    </div>
    <h1>{{ title }}</h1>
</div>

<section class="about">
    <h2>About Me</h2>
    <p>
        Hi! I'm Saahith, I'm from Fremont and I'm a student at UC Santa Cruz. I became interested in Computer Science 
        because I think its pretty cool! I'm currently working on agentic synthetic user simulacra and creating neuromorphic hardware.
    </p>
</section>

<section class="experience">
    <h2>Work Experience</h2>
    {% for job in experiences %}
        <div class="experience-card">
            <h3>{{ job.role }} — {{ job.company }}</h3>
            <p class="dates">{{ job.dates }} · {{ job.location }}</p>
            <p>{{ job.description }}</p>
        </div>
    {% endfor %}
</section>

<section class="education">
    <h2>Education</h2>
    {% for school in education %}
        <div class="education-card">
            <h3>{{ school.school }}</h3>
            <p>{{ school.degree }}</p>
            <p class="dates">{{ school.dates }} · {{ school.location }}</p>
        </div>
    {% endfor %}
</section>
{% endblock %}
